.form-container {
    width: 650px;
    padding: 3% 2% 2% 2%;
    margin-top: 5%;
    background-color: #EFEFEF;
}

.recipeItem {
    display: flex; 
    justify-content: center;
    padding: 20px; 
}

.recipeImg {
    height: 250px
}